//COLOR
$color-bakcground: rgba(220, 220, 220, 0.5);
$color-primary-gray: #888;
$color-primary-gray-2: #aaa;
$color-primary-gray-light: #ccc;
$color-secondary: rgb(28, 87, 182);

// BOX-SHADOW
$box-shadow-inset-1: 4px 4px 10px 0 rgba(0, 0, 0, 0.08);
$box-shadow-inset-2: 2px 2px 4px 0 #fff;
